html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

* {
    box-sizing: border-box;
}


.bd {
    border: 1px solid #000000;
}
.p5 {
    padding: 5px;
}
.m5 {
    margin: 5px;
}
button {
    cursor: pointer;
}


#debug {
    display: none;
    position: fixed;
    z-index: 999;
    left: 5px;
    top: 5px;
}

#debug .item {
    min-width: 100px;
    height: 24px;
    background: #FFFFFF;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 3px;
}


.sprite-container {
    width: 100%;
    /* background: #CCCCCC; */
    text-align: center;
    margin: auto;
}

.sprite {
    margin: auto;
}


#demo {
    display: flex;
    flex-wrap: wrap;
}


#demo > div {
    margin: 5px;
    background: #FFCC00;
    flex: 1;
}

#demo .btn-container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: no-wrap; */
}

#demo .btn-container .btn-left {
    display: inline-block;
    width: 50%;
    
}

#demo .btn-container .btn-right {
    display: inline-block;
    width: 50%;
}


h1 {

}